.btn {
  @extend %clear-btn;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: $border-radius;
}
