.page {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;

  &__app {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex: 1 0 auto;
  }
}
