%container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

%focus {
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px rgba($brand-color, 0.8);
  }
}

%clear-btn {
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
