$brand-color: #3498db;

$text-color: #222;
$line-height: 1.5;
$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$border-radius: 10px;
$background-color: #f6f6f6;

$shadow: 0 1px 2px rgba(#000, 0.16);
